{% extends 'base.html' %}
{% block content %}
    <table class="table ">
	<thead>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Длина (м.)</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td>Балка двутавровая 10 ГОСТ <nobr>8239-93</nobr></td>
			<td>10</td>
			<td>11.7</td>
			<td>27 573</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 12 ГОСТ <nobr>8239-89</nobr></td>
			<td>12</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 12 ГОСТ <nobr>8239-93</nobr></td>
			<td>12</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Балка двутавровая Б1 ГОСТ <nobr>26020-83</nobr></td>
			<td>12</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 14 ГОСТ <nobr>8239-93</nobr></td>
			<td>14</td>
			<td>11.7</td>
			<td>24 073</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 14 Б1 ГОСТ <nobr>26020-83</nobr></td>
			<td>14</td>
			<td>11.7</td>
			<td>25 123</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 16 ГОСТ <nobr>8239-93</nobr></td>
			<td>16</td>
			<td>11.7</td>
			<td>23 793</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 16 Б1 ГОСТ <nobr>26020-83</nobr></td>
			<td>16</td>
			<td>11.7</td>
			<td>25 473</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 18 ГОСТ <nobr>8239-89</nobr></td>
			<td>18</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 18 ГОСТ <nobr>8239-93</nobr></td>
			<td>18</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 18 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>18</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 20 ГОСТ <nobr>8239-93</nobr></td>
			<td>20</td>
			<td>11.7</td>
			<td>23 653</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 20 ГОСТ <nobr>8239-93</nobr></td>
			<td>20</td>
			<td>11.7</td>
			<td>23 723</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 20 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>20</td>
			<td>11.7</td>
			<td>30 695</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 20 К1 АСЧМ <nobr>20-93</nobr></td>
			<td>20</td>
			<td>11.7</td>
			<td>33 215</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 20 К2 АСЧМ <nobr>20-93</nobr></td>
			<td>20</td>
			<td>11.7</td>
			<td>33 215</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 20 Ш1 АСЧМ <nobr>20-93</nobr></td>
			<td>20</td>
			<td>11.7</td>
			<td>34 790</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 24 М ГОСТ <nobr>19425-74</nobr></td>
			<td>24</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 25 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>25</td>
			<td>11.7</td>
			<td>34 685</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 25 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>25</td>
			<td>11.7</td>
			<td>34 685</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 25 К1 АСЧМ <nobr>20-93</nobr></td>
			<td>25</td>
			<td>11.7</td>
			<td>33 215</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 25 К2 АСЧМ <nobr>20-93</nobr></td>
			<td>25</td>
			<td>11.7</td>
			<td>33 215</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 25 Ш1 АСЧМ <nobr>20-93</nobr></td>
			<td>25</td>
			<td>11.7</td>
			<td>34 790</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 ГОСТ <nobr>8239-93</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>27 013</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>32 515</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>32 515</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 К1 АСЧМ <nobr>20-93</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>33 215</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 К2 АСЧМ <nobr>20-93</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>33 215</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 М ГОСТ <nobr>19425-74</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>33 943</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 Ш1 АСЧМ <nobr>20-93</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>34 825</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 30 Ш2 АСЧМ <nobr>20-93</nobr></td>
			<td>30</td>
			<td>11.7</td>
			<td>34 825</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 35 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>35</td>
			<td>11.7</td>
			<td>32 655</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 35 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>35</td>
			<td>11.7</td>
			<td>32 655</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 35 К1 АСЧМ <nobr>20-93</nobr></td>
			<td>35</td>
			<td>11.7</td>
			<td>20 090</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 35 К2 АСЧМ <nobr>20-93</nobr></td>
			<td>35</td>
			<td>11.7</td>
			<td>34 265</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 35 Ш1 АСЧМ <nobr>20-93</nobr></td>
			<td>35</td>
			<td>11.7</td>
			<td>34 370</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 35 Ш2 АСЧМ <nobr>20-93</nobr></td>
			<td>35</td>
			<td>11.7</td>
			<td>34 370</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 36 ГОСТ <nobr>8239-93</nobr></td>
			<td>36</td>
			<td>11.7</td>
			<td>28 063</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 36 М ГОСТ <nobr>19425-74</nobr></td>
			<td>36</td>
			<td>11.7</td>
			<td>28 063</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 40 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>40</td>
			<td>11.7</td>
			<td>25 760</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 40 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>40</td>
			<td>11.7</td>
			<td>25 760</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 40 К1 АСЧМ <nobr>20-93</nobr></td>
			<td>40</td>
			<td>11.7</td>
			<td>25 340</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 40 К2 АСЧМ <nobr>20-93</nobr></td>
			<td>40</td>
			<td>11.7</td>
			<td>24 640</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 40 Ш1 АСЧМ <nobr>20-93</nobr></td>
			<td>40</td>
			<td>11.7</td>
			<td>25 900</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 40 Ш2 АСЧМ <nobr>20-93</nobr></td>
			<td>40</td>
			<td>11.7</td>
			<td>25 900</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 45 ГОСТ <nobr>8239-93</nobr></td>
			<td>45</td>
			<td>11.7</td>
			<td>27 013</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 45 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>45</td>
			<td>11.7</td>
			<td>25 550</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 45 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>45</td>
			<td>11.7</td>
			<td>25 550</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 45 М ГОСТ <nobr>19425-74</nobr></td>
			<td>45</td>
			<td>11.7</td>
			<td>29 113</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 50 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>50</td>
			<td>11.7</td>
			<td>25 725</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 50 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>50</td>
			<td>11.7</td>
			<td>25 725</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 50 Ш1 АСЧМ <nobr>20-93</nobr></td>
			<td>50</td>
			<td>11.7</td>
			<td>26 075</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 50 Ш2 АСЧМ <nobr>20-93</nobr></td>
			<td>50</td>
			<td>11.7</td>
			<td>20 090</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 55 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>55</td>
			<td>11.7</td>
			<td>25 725</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 55 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>55</td>
			<td>11.7</td>
			<td>25 725</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 60 Б2 АСЧМ <nobr>20-93</nobr></td>
			<td>60</td>
			<td>11.7</td>
			<td>25 725</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 60 Ш1 АСЧМ <nobr>20-93</nobr></td>
			<td>60</td>
			<td>11.7</td>
			<td>22 715</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 60 Ш2 АСЧМ <nobr>20-93</nobr></td>
			<td>60</td>
			<td>11.7</td>
			<td>22 715</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 70 Б1 АСЧМ <nobr>20-93</nobr></td>
			<td>70</td>
			<td>11.7</td>
			<td>21 595</td>
 		</tr>
		<tr>
			<td>Балка двутавровая 70 Ш2 АСЧМ <nobr>20-93</nobr></td>
			<td>70</td>
			<td>11.7</td>
			<td>22 260</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}