{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mb-3">
<div class="col-md-4 align-self-center">
    {{ ADDRESS_FULL }} <br> <br> {{ PHONE | safe}} <br> <br> {{ EMAIL  | safe}}
</div>
<div class="col-md-8">
    <img class="img-fluid" src="{% static 'map.png' %}">
</div>
</div>
{% endblock %}
