{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p>Мы оперативно доставим ваш заказ любого объема в любую точку Санкт-Петербурга и Ленинградской области.</p>
    <p>Доставка может быть осуществлена на выгодных условиях, либо бесплатно! Уточняйте условия доставки у наших менеджеров.</p>

    <p>На месте приемки товара мы ожидаем от вас наличие печати или доверенности грузополучателя (не перевозчика).</p>
    <p>Любой груз принимается к перевозке и ставятся отметки о получении только перевозчиком, либо лица, имеющего право действовать от имени грузополучателя.</p>

    <ul>
        <li>Аренда шаланды от 6000 рублей</li>
        <li>Аренда газели от 2500 рублей</li>
        <lI>Аренда автокрана 6000 рублей</lI>
    </ul>



{% endblock %}
