{% extends 'base.html' %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td>Круг горячекатаный</td>
			<td>10</td>
			<td>20 223</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>10 МОТКИ</td>
			<td>20 223</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>12</td>
			<td>18 823</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>14</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>16</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>18</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>20</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>22</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>24</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>25</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>28</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>30</td>
			<td>18 543</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>32</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>34</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>36</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>38</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>40</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>42</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>45</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>48</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>50</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>56</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>60</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>65</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>70</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>80</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>90</td>
			<td>22 323</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>100</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>110</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>120</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>130</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>140</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>150</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>160</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>170</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>180</td>
			<td>21 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>190</td>
			<td>25 823</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>200</td>
			<td>25 823</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>220</td>
			<td>25 823</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>230</td>
			<td>25 823</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>240</td>
			<td>25 823</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>250</td>
			<td>25 823</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>260</td>
			<td>28 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>270</td>
			<td>28 623</td>
 		</tr>
		<tr>
			<td>Круг горячекатаный</td>
			<td>280</td>
			<td>28 623</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}