{% extends 'base.html' %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>6</td>
			<td>39 130</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>8</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>12 Н/Д</td>
			<td>29 183</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>14 Н/Д</td>
			<td>26 733</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>16</td>
			<td>27 083</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>16 Н/Д</td>
			<td>27 083</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>18 Н/Д</td>
			<td>27 083</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>22</td>
			<td>22 463</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>30</td>
			<td>26 593</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>30 Н/Д</td>
			<td>23 163</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>40</td>
			<td>27 503</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>40 Н/Д</td>
			<td>27 503</td>
 		</tr>
		<tr>
			<td>Квадрат горячекатаный</td>
			<td>50</td>
			<td>27 503</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}
