{% extends 'base.html' %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Сталь</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td>Лист горячекатаный 1.5X1250X2500</td>
			<td>СТ3</td>
			<td>31 108</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 2X1000X2000</td>
			<td>СТ3</td>
			<td>30 464</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 2X1250X2500</td>
			<td>СТ3</td>
			<td>30 464</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 2.5X1250X2500</td>
			<td>СТ3</td>
			<td>30 324</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 3X1250X2500</td>
			<td>СТ3</td>
			<td>30 107</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 3X1500X6000</td>
			<td>СТ3</td>
			<td>30 107</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 3X1250X2500</td>
			<td>09Г2С</td>
			<td>31 647</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 3X1250X2500 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 493</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 3X1250X2500</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 4X1500X3000</td>
			<td>СТ3</td>
			<td>29 988</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 4X1500X6000</td>
			<td>СТ3</td>
			<td>29 988</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 4X1500X3000</td>
			<td>09Г2С-12</td>
			<td>31 535</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 4X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 535</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 4X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 4X1500X6000</td>
			<td>СТ08Ю</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 4X1500X6000</td>
			<td>СТ20</td>
			<td>29 393</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 4X1500X6000</td>
			<td>СТ45</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 5X1500X3000</td>
			<td>СТ3</td>
			<td>29 918</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 5X1500X6000</td>
			<td>СТ3</td>
			<td>29 918</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 5X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 465</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 5X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 5X1400X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 5X1500X6000</td>
			<td>СТ08Ю</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 5X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 6X1500X3000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 6X1500X6000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 6X1250X2500</td>
			<td>09Г2С-12</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 6X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 6X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 6X1400X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 6X1500X6000</td>
			<td>СТ20</td>
			<td>28 063</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 6X1500X6000</td>
			<td>СТ45</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 7X1500X6000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 7X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 8X1500X6000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 8X2000X6000</td>
			<td>СТ3</td>
			<td>27 650</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 8X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 8X1500X6000</td>
			<td>09Г2С-15</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 8X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 750</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 8X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 750</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 8X2000X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 8X2000X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 8X1500X4000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 8X1500X5500</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 8X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 8X1500X6000</td>
			<td>СТ45</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 9X1500X6000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 10X1500X3000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 10X1500X6000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 10X2000X6000</td>
			<td>СТ3</td>
			<td>27 650</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X1250X2500</td>
			<td>09Г2С-12</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X1500X6000</td>
			<td>09Г2С-15</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X1500X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X2000X5500</td>
			<td>09Г2С-12</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X2000X6000</td>
			<td>09Г2С-12</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 10X2000X6000</td>
			<td>09Г2С-15</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 10X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 10X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 10X1500X6000</td>
			<td>СТ45</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 10X1500X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 12X1500X6000</td>
			<td>СТ3</td>
			<td>29 841</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 12X2000X6000</td>
			<td>СТ3</td>
			<td>27 650</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 12X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 388</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 12X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 12X1500X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 12X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 750</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 12X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 750</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 12X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 12X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 12X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 12X1500X6000</td>
			<td>СТ45</td>
			<td>30 793</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 12X1500X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 12X2000X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 14X1500X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 14X2000X6000</td>
			<td>СТ3</td>
			<td>28 763</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 14X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 14X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 14X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 14X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 14X1500X5000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 14X1500X5500</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 14X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 14X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 14X2000X6000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 16X1500X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 16X2000X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 16X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 16X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 16X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 16X1500X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 16X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 16X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 16X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 16X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 16X1500X6000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 18X1500X6000</td>
			<td>СТ3</td>
			<td>27 153</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 18X2000X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 18X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 18X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 18X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 20X1500X6000</td>
			<td>СТ3</td>
			<td>27 153</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 20X2000X6000</td>
			<td>СТ3</td>
			<td>27 153</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X1500X6000</td>
			<td>09Г2С-14</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X1500X6000 10ХСНД</td>
			<td>10ХСНД-14</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X2000X6000</td>
			<td>09Г2С-14</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 20X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X4000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X4950</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X5000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 20X1500X6000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 22X1500X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 22X2000X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 25X1500X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 25X2000X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 25X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 25X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 25X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 25X1500X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 25X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 25X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 25X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 25X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 25X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 25X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 25X1500X6000 некод</td>
			<td>СТ45</td>
			<td>11 550</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 30X1500X3000</td>
			<td>СТ235</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 30X1500X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 30X1850X5500</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 30X2000X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 30X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 30X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 30X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 30X1500X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 30X2000X6000</td>
			<td>09Г2С-14</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 30X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 30X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 30X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 30X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 32X1500X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 32X2000X6000</td>
			<td>СТ3</td>
			<td>26 663</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 32X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 393</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 32X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 393</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 32X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 463</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 32X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 463</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 35X1500X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 36X1500X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 36X2000X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 36X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 36X1500X6000</td>
			<td>09Г2С-14</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 36X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 36X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 36X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 36X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 40X1500X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 40X2000X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X1500X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X1500X6000</td>
			<td>09Г2С-14</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X1500X6000 10ХСНД</td>
			<td>10ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X1500X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X2000X6000</td>
			<td>09Г2С-14</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 40X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 40X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 40X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 40X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 45X1500X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 45X2000X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 45X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 45X2000X6000</td>
			<td>09Г2С-12</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 45X1500X6000</td>
			<td>СТ45</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 45X2000X6000</td>
			<td>СТ45</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 50X1500X6000</td>
			<td>СТ3</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 50X2000X6000</td>
			<td>СТ3</td>
			<td>27 363</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 50X1500X6000</td>
			<td>09Г2С</td>
			<td>29 463</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 50X1500X6000</td>
			<td>09Г2С-15</td>
			<td>29 463</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 50X1500X6000 15ХСНД</td>
			<td>15ХСНД</td>
			<td>38 143</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 50X2000X6000</td>
			<td>09Г2С-15</td>
			<td>29 463</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 50X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 50X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 50X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 50X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 50X1500X6500</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 60X1500X6000</td>
			<td>СТ3</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 60X1500X5900</td>
			<td>09Г2С-12</td>
			<td>31 563</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 60X1500X6000</td>
			<td>09Г2С-12</td>
			<td>31 563</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 60X1500X6000</td>
			<td>09Г2С-15</td>
			<td>31 563</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 60X1500X6000 10ХСНД</td>
			<td>10ХСНД-12</td>
			<td>39 543</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 60X1500X5900</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 60X1500X5900</td>
			<td>СТ35</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 60X1500X6000</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 60X1500X6000</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 60X1500X6000</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 70X1200X3900</td>
			<td>СТ3</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 70X1200X2600</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 70X1200X2900</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 70X1200X3500</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 70X1200X3900</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 70X1200X4000</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 80X1200X3400</td>
			<td>СТ3</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 80X1500X6000</td>
			<td>09Г2С-15</td>
			<td>31 563</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 80X1200X2600</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 80X1200X2800</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 80X1200X3100</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 80X1200X3200</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 80X1200X3800</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 90X1500X6000</td>
			<td>09Г2С-15</td>
			<td>31 563</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 90X1000X3400</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 90X1000X3500</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 90X1000X3700</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 100X1000X3000</td>
			<td>СТ3</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 100X1000X3400</td>
			<td>СТ3</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 100X1500X6000</td>
			<td>СТ3</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный низколегированный 100X1000X2700</td>
			<td>09Г2С-12</td>
			<td>31 563</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 100X1000X2500</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 100X1000X2500</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 100X1000X2600</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь констр. горячекатаный Лист 100X1000X3400</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 110X1500X6000</td>
			<td>СТ3</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 130X1500X6000</td>
			<td>СТ3</td>
			<td>31 563</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 140X1500X4700</td>
			<td>СТ3</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 150X1500X5000</td>
			<td>СТ3</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 150X1600X2400</td>
			<td>СТ3</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Лист горячекатаный 160X1500X5000</td>
			<td>СТ3</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 3X1250X2500</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 4X1500X6000</td>
			<td>СТ08Ю</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 4X1500X6000</td>
			<td>СТ20</td>
			<td>29 393</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 4X1500X6000</td>
			<td>СТ45</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 5X1400X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 5X1500X6000</td>
			<td>СТ08Ю</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 5X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 6X1400X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 6X1500X6000</td>
			<td>СТ20</td>
			<td>28 063</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 6X1500X6000</td>
			<td>СТ45</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 8X1500X4000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 8X1500X5500</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 8X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 8X1500X6000</td>
			<td>СТ45</td>
			<td>31 143</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 10X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 10X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 10X1500X6000</td>
			<td>СТ45</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 10X1500X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 12X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 12X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 12X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 12X1500X6000</td>
			<td>СТ45</td>
			<td>30 793</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 12X1500X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 12X2000X6000</td>
			<td>СТ65Г</td>
			<td>34 643</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 14X1500X5000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 14X1500X5500</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 14X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 14X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 14X2000X6000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 16X1500X6000</td>
			<td>СТ20</td>
			<td>29 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 16X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 16X1500X6000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X4000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X4950</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X5000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 20X1500X6000</td>
			<td>СТ65Г</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 25X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 25X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 25X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 25X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 25X1500X6000 некод</td>
			<td>СТ45</td>
			<td>11 550</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 30X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 30X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 30X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 36X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 40X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 40X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 40X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 45X1500X6000</td>
			<td>СТ45</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 45X2000X6000</td>
			<td>СТ45</td>
			<td>30 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 50X1500X6000</td>
			<td>40Х</td>
			<td>36 043</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 50X1500X6000</td>
			<td>СТ20</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 50X1500X6000</td>
			<td>СТ35</td>
			<td>29 743</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 50X1500X6000</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 50X1500X6500</td>
			<td>СТ45</td>
			<td>30 093</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 60X1500X5900</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 60X1500X5900</td>
			<td>СТ35</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 60X1500X6000</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 60X1500X6000</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 60X1500X6000</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 70X1200X2600</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 70X1200X2900</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 70X1200X3500</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 70X1200X3900</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 70X1200X4000</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 80X1200X2600</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 80X1200X2800</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 80X1200X3100</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 80X1200X3200</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 80X1200X3800</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 90X1000X3400</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 90X1000X3500</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 90X1000X3700</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 100X1000X2500</td>
			<td>40Х</td>
			<td>37 443</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 100X1000X2500</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 100X1000X2600</td>
			<td>СТ45</td>
			<td>32 543</td>
 		</tr>
		<tr>
			<td>Сталь листовая конструционная горячекатаный 100X1000X3400</td>
			<td>СТ20</td>
			<td>31 843</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}