{% extends 'base.html' %}
{% block content %}
<h1>Заказать металл и&nbsp;металлопрокат</h1>
<p>В&nbsp;нашей фирме возможны различные формы оплаты.<br/>
 Оплата производится как по&nbsp;безналичному расчёту, так и&nbsp;наличными в&nbsp;нашем офисе или оплатой банковской карточкой.
</p>
<p>Чтобы запросить счет необходимо прислать заявку с&nbsp;реквизитами и&nbsp;контактами на&nbsp;почту {{ EMAIL | safe }}.<br/>
 Либо воспользоватся функциями набора-заказа нашего интернет магазина!
</p>
<p>Если хотите убедиться, что заявка дошла и&nbsp;узнать кто из&nbsp;менеджеров будет ее&nbsp;отрабатывать, позвоните по&nbsp;номеру {{ PHONE | safe }} В&nbsp;любом случае, если заявка дошла, Вам напишет ответственный менеджер, что взял заявку в&nbsp;работу&nbsp;и, возможно, уточнит детали. Среднее время отработки заявки и&nbsp;выставление счета <nobr>30-60 минут.</nobr></p>
<p>—&nbsp;Доставка заказов осуществляется не&nbsp;позднее <nobr>1-2</nobr> дней после оплаты.</p>
    <div class="row">
        <div class="col-md-4 p-3 bg-light rounded">
            <div class="number">1</div>
            Отправьте заявку с реквизитами и контактами на почту zakaz@metallsk.ru.
        </div>
        <div class="col-md-4 p-3 bg-light rounded">
            <div class="number">2</div>
            Уточните дошла ли заявка и кто будет ее отрабатывать позвонив по номеру {{ PHONE | safe}}.
        </div>
        <div class="col-md-4 p-3 bg-light rounded">
            <div class="number">3</div>
            В течение 30-60 минут ожидайте Ваш счет на оплату на своей электронной почте.
        </div>
    </div>
{% endblock %}