{% extends 'base.html' %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td>Полоса горячекатаная 3X20</td>
			<td>3</td>
			<td>29 183</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 3X25</td>
			<td>3</td>
			<td>29 183</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 3X30</td>
			<td>3</td>
			<td>25 053</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 3X40</td>
			<td>3</td>
			<td>29 253</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 3X50</td>
			<td>3</td>
			<td>29 253</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X100</td>
			<td>4</td>
			<td>45 990</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X100</td>
			<td>4 Н/Д</td>
			<td>45 990</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X16</td>
			<td>4</td>
			<td>38 983</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X20</td>
			<td>4</td>
			<td>31 983</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X25</td>
			<td>4</td>
			<td>31 983</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X30</td>
			<td>4</td>
			<td>31 983</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X40</td>
			<td>4</td>
			<td>31 983</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X40</td>
			<td>4 Н/Д</td>
			<td>31 983</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X50</td>
			<td>4</td>
			<td>31 983</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X60</td>
			<td>4</td>
			<td>32 053</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X75</td>
			<td>4</td>
			<td>32 053</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 4X80</td>
			<td>4</td>
			<td>32 053</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X100</td>
			<td>5</td>
			<td>29 953</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X150</td>
			<td>5</td>
			<td>29 953</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X25</td>
			<td>5</td>
			<td>27 783</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X30</td>
			<td>5</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X30</td>
			<td>5 Н/Д</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X40</td>
			<td>5</td>
			<td>29 183</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X50</td>
			<td>5</td>
			<td>29 883</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X60</td>
			<td>5</td>
			<td>29 883</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 5X80</td>
			<td>5</td>
			<td>29 883</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X100</td>
			<td>6</td>
			<td>26 943</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X30</td>
			<td>6</td>
			<td>28 133</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X40</td>
			<td>6</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X50</td>
			<td>6</td>
			<td>28 133</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X50</td>
			<td>6 Н/Д</td>
			<td>28 273</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X60</td>
			<td>6</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X75</td>
			<td>6</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X80</td>
			<td>6</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 6X80</td>
			<td>6 Н/Д</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 8X100</td>
			<td>8</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 8X150</td>
			<td>8</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 8X16</td>
			<td>8</td>
			<td>43 183</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 8X50</td>
			<td>8</td>
			<td>27 643</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 8X60</td>
			<td>8</td>
			<td>28 483</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 8X80</td>
			<td>8</td>
			<td>28 833</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 10X100</td>
			<td>10</td>
			<td>29 533</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 10X150</td>
			<td>10</td>
			<td>27 083</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 10X20</td>
			<td>10 Н/Д</td>
			<td>28 133</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 10X40</td>
			<td>10</td>
			<td>28 133</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 10X60</td>
			<td>10</td>
			<td>28 133</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 10X70</td>
			<td>10</td>
			<td>28 833</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 12X100</td>
			<td>12</td>
			<td>29 533</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 12X150</td>
			<td>12</td>
			<td>29 533</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 12X65</td>
			<td>12</td>
			<td>30 793</td>
 		</tr>
		<tr>
			<td>Полоса горячекатаная 20X40</td>
			<td>20 Н/Д</td>
			<td>30 373</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}