{% extends 'base.html' %}
{% block content %}
    <table class="table">
	<colgroup><col/></colgroup>
	<tbody>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Сталь</th>
			<th>Стоимость (руб.)</th>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>12</td>
			<td>40Х</td>
			<td>23640</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>17</td>
			<td>40Х</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>19</td>
			<td>40Х</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>22</td>
			<td>40Х</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>24</td>
			<td>40Х</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>27</td>
			<td>40Х</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>30</td>
			<td>40Х</td>
			<td>20140</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>32</td>
			<td>40Х</td>
			<td>20140</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>36</td>
			<td>40Х</td>
			<td>20140</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>38</td>
			<td>40Х</td>
			<td>20140</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>41</td>
			<td>40Х</td>
			<td>20140</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>46</td>
			<td>40Х</td>
			<td>24690</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>55</td>
			<td>40Х</td>
			<td>24690</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>65</td>
			<td>40Х</td>
			<td>24690</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>75</td>
			<td>40Х</td>
			<td>24690</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>12</td>
			<td>СТ.20</td>
			<td>21540</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>14</td>
			<td>СТ.20</td>
			<td>21540</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>17</td>
			<td>СТ.20</td>
			<td>21540</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>19</td>
			<td>СТ.20</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>22</td>
			<td>СТ.20</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>24</td>
			<td>СТ.20</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>27</td>
			<td>СТ.20</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>30</td>
			<td>СТ.20</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>32</td>
			<td>СТ.20</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>36</td>
			<td>СТ.20</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>41</td>
			<td>СТ.20</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>46</td>
			<td>СТ.20</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>50</td>
			<td>СТ.20</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>55</td>
			<td>СТ.20</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>57</td>
			<td>СТ.20</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>75</td>
			<td>СТ.20</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>12</td>
			<td>СТ.35</td>
			<td>21540</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>14</td>
			<td>СТ.35</td>
			<td>21540</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>17</td>
			<td>СТ.35</td>
			<td>21540</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>19</td>
			<td>СТ.35</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>22</td>
			<td>СТ.35</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>24</td>
			<td>СТ.35</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>27</td>
			<td>СТ.35</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>30</td>
			<td>СТ.35</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>32</td>
			<td>СТ.35</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>36</td>
			<td>СТ.35</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>41</td>
			<td>СТ.35</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>46</td>
			<td>СТ.35</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>50</td>
			<td>СТ.35</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>52</td>
			<td>СТ.35</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>55</td>
			<td>СТ.35</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>57</td>
			<td>СТ.35</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>65</td>
			<td>СТ.35</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>75</td>
			<td>СТ.35</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>17</td>
			<td>СТ.45</td>
			<td>21540</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>19</td>
			<td>СТ.45</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>22</td>
			<td>СТ.45</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>24</td>
			<td>СТ.45</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>27</td>
			<td>СТ.45</td>
			<td>21190</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>30</td>
			<td>СТ.45</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>32</td>
			<td>СТ.45</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>36</td>
			<td>СТ.45</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>41</td>
			<td>СТ.45</td>
			<td>18740</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>46</td>
			<td>СТ.45</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>50</td>
			<td>СТ.45</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>52</td>
			<td>СТ.45</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>55</td>
			<td>СТ.45</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>57</td>
			<td>СТ.45</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>65</td>
			<td>СТ.45</td>
			<td>22940</td>
 		</tr>
		<tr>
			<td>Шестигранник</td>
			<td>75</td>
			<td>СТ.45</td>
			<td>22940</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}
