{% extends 'base.html' %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Длина (м.)</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td>Швеллер</td>
			<td>5</td>
			<td>6</td>
			<td>27 503</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>6.5</td>
			<td>6</td>
			<td>25 823</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>8</td>
			<td>11.7</td>
			<td>25 053</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>10</td>
			<td>11.7</td>
			<td>27 153</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>12</td>
			<td>11.7</td>
			<td>24 773</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>14</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>14</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>16</td>
			<td>11.7</td>
			<td>25 123</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>16</td>
			<td>11.7</td>
			<td>25 053</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>16</td>
			<td>6</td>
			<td>25 053</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>18</td>
			<td>9</td>
			<td>25 193</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>18</td>
			<td>11.7</td>
			<td>25 193</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>20</td>
			<td>11.7</td>
			<td>29 113</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>20</td>
			<td>11.7</td>
			<td>29 113</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>20</td>
			<td>9</td>
			<td>29 113</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>22</td>
			<td>11.7</td>
			<td>29 393</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>22</td>
			<td>9</td>
			<td>29 393</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>24</td>
			<td>11.7</td>
			<td>29 253</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>24</td>
			<td>11.7</td>
			<td>29 253</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>27</td>
			<td>11.7</td>
			<td>29 253</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>27</td>
			<td>9</td>
			<td>29 253</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>30</td>
			<td>11.7</td>
			<td>28 973</td>
 		</tr>
		<tr>
			<td>Швеллер</td>
			<td>30</td>
			<td>11.7</td>
			<td>28 973</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}