{% extends 'base.html' %}
{% block content %}
    <table class="table">
	<thead>
        <tr>
			<th>Название</th>
			<th>Размер ячейки (мм.)</th>
            <th>Диаметр прутка(см.)</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td> Сварная сетка</td>
			<td>24&nbsp;X 24</td>
			<td>1.8</td>
			<td>41</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>25&nbsp;X 25</td>
			<td>1.6</td>
			<td>56</td>
 		</tr>
		<tr>
			<td> Сварная сетка (оцинкованная)</td>
			<td>25&nbsp;X 25</td>
			<td>1.6</td>
			<td>77</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>25&nbsp;X 25</td>
			<td>1.8</td>
			<td>81</td>
 		</tr>
		<tr>
			<td> Сварная сетка (оцинкованная пров.)</td>
			<td>25&nbsp;X 25</td>
			<td>1.8</td>
			<td>101</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>26,5&nbsp;X 26,5</td>
			<td>5.5</td>
			<td>34</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>48&nbsp;X 48</td>
			<td>1.6</td>
			<td>34</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>50&nbsp;X 50</td>
			<td>1.4</td>
			<td>25</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>50&nbsp;X 50</td>
			<td>1.6</td>
			<td>26</td>
 		</tr>
		<tr>
			<td> Сварная сетка (оцинкованная.)</td>
			<td>50&nbsp;X 50</td>
			<td>1.6</td>
			<td>41</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>50&nbsp;X 50</td>
			<td>1.8</td>
			<td>40</td>
 		</tr>
		<tr>
			<td> Сварная сетка (оцинкованная.)</td>
			<td>50&nbsp;X 50</td>
			<td>2.5</td>
			<td>49</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>50&nbsp;X 50</td>
			<td>3</td>
			<td>56</td>
 		</tr>
		<tr>
			<td> Сварная сетка (оцинкованная.)</td>
			<td>50&nbsp;X 50</td>
			<td>3</td>
			<td>80</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>50&nbsp;X 50</td>
			<td>4</td>
			<td>103</td>
 		</tr>
		<tr>
			<td> Сварная сетка (оцинкованная.)</td>
			<td>50&nbsp;X 50</td>
			<td>5</td>
			<td>165</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>100&nbsp;X 100</td>
			<td>3</td>
			<td>30</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>100&nbsp;X 100</td>
			<td>4</td>
			<td>54</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>100&nbsp;X 100</td>
			<td>5</td>
			<td>84</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>100&nbsp;X 100</td>
			<td>6</td>
			<td>125</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>100&nbsp;X 100</td>
			<td>8</td>
			<td>245</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>150&nbsp;X 150</td>
			<td>3</td>
			<td>21</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>150&nbsp;X 150</td>
			<td>4</td>
			<td>36</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>150&nbsp;X 150</td>
			<td>5</td>
			<td>57</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>150&nbsp;X 150</td>
			<td>6</td>
			<td>93</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>150&nbsp;X 150</td>
			<td>8</td>
			<td>155</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>200&nbsp;X 200</td>
			<td>4</td>
			<td>29</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>200&nbsp;X 200</td>
			<td>5</td>
			<td>45</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>200&nbsp;X 200</td>
			<td>6</td>
			<td>66</td>
 		</tr>
		<tr>
			<td> Сварная сетка</td>
			<td>200&nbsp;X 200</td>
			<td>8</td>
			<td>115</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}