{% extends 'base.html' %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Длина (м.)</th>
			<th>стоимость (руб.)</th>
 		</tr>
 	</thead>
	<tbody>
		<tr>
			<td>Трубы электросварные квадратные 20X1.2</td>
			<td>20</td>
			<td>6</td>
			<td>33803</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 20X1.2</td>
			<td>20</td>
			<td>6</td>
			<td>34013</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 20X1.5</td>
			<td>20</td>
			<td>6</td>
			<td>31213</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 20X2</td>
			<td>20</td>
			<td>6</td>
			<td>28833</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 20X2</td>
			<td>20</td>
			<td>6</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 20X2</td>
			<td>20</td>
			<td>6</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X1</td>
			<td>25</td>
			<td>6</td>
			<td>33313</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X1.2</td>
			<td>25</td>
			<td>6</td>
			<td>35413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X1.5</td>
			<td>25</td>
			<td>6</td>
			<td>31633</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X1.5</td>
			<td>25</td>
			<td>6</td>
			<td>31003</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X1.5</td>
			<td>25</td>
			<td>6</td>
			<td>31213</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X2</td>
			<td>25</td>
			<td>6</td>
			<td>28833</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X2</td>
			<td>25</td>
			<td>6</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 25X2</td>
			<td>25</td>
			<td>6</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X1.5</td>
			<td>30</td>
			<td>6</td>
			<td>29953</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X1.5</td>
			<td>30</td>
			<td>6</td>
			<td>30163</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X2</td>
			<td>30</td>
			<td>6</td>
			<td>29533</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X2</td>
			<td>30</td>
			<td>6</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X2</td>
			<td>30</td>
			<td>6</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X3</td>
			<td>30</td>
			<td>6</td>
			<td>29533</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X3</td>
			<td>30</td>
			<td>6</td>
			<td>29603</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 30X3</td>
			<td>30</td>
			<td>6</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X1.5</td>
			<td>40</td>
			<td>6</td>
			<td>30023</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X1.5</td>
			<td>40</td>
			<td>6</td>
			<td>30233</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X1.5</td>
			<td>40</td>
			<td>6</td>
			<td>29953</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X2</td>
			<td>40</td>
			<td>6</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X2</td>
			<td>40</td>
			<td>6</td>
			<td>28203</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X2</td>
			<td>40</td>
			<td>6</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X2.5</td>
			<td>40</td>
			<td>6</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X2.5</td>
			<td>40</td>
			<td>6</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X3</td>
			<td>40</td>
			<td>6</td>
			<td>28203</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X3</td>
			<td>40</td>
			<td>6</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X4</td>
			<td>40</td>
			<td>6</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X4</td>
			<td>40</td>
			<td>6</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 40X4</td>
			<td>40</td>
			<td>6</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X1.5</td>
			<td>50</td>
			<td>6</td>
			<td>30513</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X1.5</td>
			<td>50</td>
			<td>6</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X2</td>
			<td>50</td>
			<td>6</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X2</td>
			<td>50</td>
			<td>6</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X2</td>
			<td>50</td>
			<td>6</td>
			<td>28063</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X2.5</td>
			<td>50</td>
			<td>6</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X3</td>
			<td>50</td>
			<td>6</td>
			<td>28063</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X3</td>
			<td>50</td>
			<td>6</td>
			<td>27433</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X3.5</td>
			<td>50</td>
			<td>5.4</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X3.5</td>
			<td>50</td>
			<td>6</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X4</td>
			<td>50</td>
			<td>6</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 50X4</td>
			<td>50</td>
			<td>6</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X1.5</td>
			<td>60</td>
			<td>6</td>
			<td>30863</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X1.5</td>
			<td>60</td>
			<td>6</td>
			<td>30163</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X2</td>
			<td>60</td>
			<td></td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X2</td>
			<td>60</td>
			<td>6</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X2</td>
			<td>60</td>
			<td>6</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X2.5</td>
			<td>60</td>
			<td>6</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X3</td>
			<td>60</td>
			<td>6</td>
			<td>27503</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X3</td>
			<td>60</td>
			<td>6</td>
			<td>27013</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X3.5</td>
			<td>60</td>
			<td>6</td>
			<td>28063</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X4</td>
			<td>60</td>
			<td>11.7</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X4</td>
			<td>60</td>
			<td>6</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X4</td>
			<td>60</td>
			<td>6</td>
			<td>27013</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X5</td>
			<td>60</td>
			<td>11.7</td>
			<td>30513</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X5</td>
			<td>60</td>
			<td>6</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 60X5</td>
			<td>60</td>
			<td>6</td>
			<td>30303</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X2</td>
			<td>80</td>
			<td>6</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X3</td>
			<td>80</td>
			<td>11.7</td>
			<td>28063</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X3</td>
			<td>80</td>
			<td>11.7</td>
			<td>27433</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X3</td>
			<td>80</td>
			<td>6</td>
			<td>28063</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X4</td>
			<td>80</td>
			<td>11.7</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X4</td>
			<td>80</td>
			<td>11.7</td>
			<td>27013</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X5</td>
			<td>80</td>
			<td>11.7</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X5</td>
			<td>80</td>
			<td>11.7</td>
			<td>28203</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X5</td>
			<td>80</td>
			<td>11.7</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X5</td>
			<td>80</td>
			<td>11.7</td>
			<td>28063</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X6</td>
			<td>80</td>
			<td>11.7</td>
			<td>27783</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X6</td>
			<td>80</td>
			<td>11.7</td>
			<td>27853</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 80X6</td>
			<td>80</td>
			<td>11.7</td>
			<td>28063</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 80X3</td>
			<td>80</td>
			<td>11.7</td>
			<td>31563</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 80X6</td>
			<td>80</td>
			<td>11.7</td>
			<td>32263</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X2</td>
			<td>100</td>
			<td>11.7</td>
			<td>30863</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X3</td>
			<td>100</td>
			<td>11.7</td>
			<td>27433</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X4</td>
			<td>100</td>
			<td>11.7</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X4</td>
			<td>100</td>
			<td>11.7</td>
			<td>27433</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X5</td>
			<td>100</td>
			<td>11.7</td>
			<td>27433</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X5</td>
			<td>100</td>
			<td>11.7</td>
			<td>27503</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X5</td>
			<td>100</td>
			<td>11.7</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X6</td>
			<td>100</td>
			<td>11.7</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X6</td>
			<td>100</td>
			<td>11.7</td>
			<td>28203</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X6</td>
			<td>100</td>
			<td>11.7</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X7</td>
			<td>100</td>
			<td>11.7</td>
			<td>30233</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X7</td>
			<td>100</td>
			<td>11.7</td>
			<td>30303</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X7</td>
			<td>100</td>
			<td>11.7</td>
			<td>30513</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X7</td>
			<td>100</td>
			<td>11.7</td>
			<td>30513</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X8</td>
			<td>100</td>
			<td>11.7</td>
			<td>30233</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X8</td>
			<td>100</td>
			<td>11.7</td>
			<td>30303</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 100X8</td>
			<td>100</td>
			<td>11.7</td>
			<td>30513</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X3</td>
			<td>100</td>
			<td>11.7</td>
			<td>31563</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X3</td>
			<td>100</td>
			<td>11.7</td>
			<td>31213</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X4</td>
			<td>100</td>
			<td>11.7</td>
			<td>31913</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X4</td>
			<td>100</td>
			<td>11.7</td>
			<td>31913</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X5</td>
			<td>100</td>
			<td>11.7</td>
			<td>32263</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X5</td>
			<td>100</td>
			<td>11.7</td>
			<td>31913</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X6</td>
			<td>100</td>
			<td>11.7</td>
			<td>32403</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 100X6</td>
			<td>100</td>
			<td>11.7</td>
			<td>32263</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X4</td>
			<td>120</td>
			<td>11.7</td>
			<td>27433</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X4</td>
			<td>120</td>
			<td>11.7</td>
			<td>27503</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X4</td>
			<td>120</td>
			<td>11.7</td>
			<td>27713</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X5</td>
			<td>120</td>
			<td>11.7</td>
			<td>27853</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X5</td>
			<td>120</td>
			<td>11.7</td>
			<td>27923</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X5</td>
			<td>120</td>
			<td>11.7</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X6</td>
			<td>120</td>
			<td>11.7</td>
			<td>27853</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X6</td>
			<td>120</td>
			<td>11.7</td>
			<td>27923</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X6</td>
			<td>120</td>
			<td>11.7</td>
			<td>28133</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X8</td>
			<td>120</td>
			<td>11.7</td>
			<td>29253</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 120X8</td>
			<td>120</td>
			<td>11.7</td>
			<td>29463</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 120X4</td>
			<td>120</td>
			<td>11.7</td>
			<td>31353</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 120X4</td>
			<td>120</td>
			<td>11.7</td>
			<td>31563</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 120X5</td>
			<td>120</td>
			<td>11.7</td>
			<td>31563</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 120X5</td>
			<td>120</td>
			<td>11.7</td>
			<td>31213</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 120X6</td>
			<td>120</td>
			<td>11.7</td>
			<td>31003</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 120X6</td>
			<td>120</td>
			<td>11.7</td>
			<td>31213</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X4</td>
			<td>140</td>
			<td>11.7</td>
			<td>28553</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X4</td>
			<td>140</td>
			<td>11.7</td>
			<td>28763</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X5</td>
			<td>140</td>
			<td>11.7</td>
			<td>28833</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X5</td>
			<td>140</td>
			<td>11.7</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X5</td>
			<td>140</td>
			<td>11.7</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X5</td>
			<td>140</td>
			<td>11.7</td>
			<td>28763</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X6</td>
			<td>140</td>
			<td>11.7</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X6</td>
			<td>140</td>
			<td>11.7</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X6</td>
			<td>140</td>
			<td>11.7</td>
			<td>28483</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X6</td>
			<td>140</td>
			<td>11.7</td>
			<td>28763</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X7</td>
			<td>140</td>
			<td>11.7</td>
			<td>29743</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X7</td>
			<td>140</td>
			<td>11.7</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X7</td>
			<td>140</td>
			<td>11.7</td>
			<td>30023</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X8</td>
			<td>140</td>
			<td>11.7</td>
			<td>29603</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X8</td>
			<td>140</td>
			<td>11.7</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 140X8</td>
			<td>140</td>
			<td>11.7</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 140X4</td>
			<td>140</td>
			<td>11.7</td>
			<td>32263</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 140X4</td>
			<td>140</td>
			<td>11.7</td>
			<td>31563</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 140X5</td>
			<td>140</td>
			<td>11.7</td>
			<td>31703</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 140X5</td>
			<td>140</td>
			<td>11.7</td>
			<td>31563</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 140X6</td>
			<td>140</td>
			<td>11.7</td>
			<td>31353</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 140X6</td>
			<td>140</td>
			<td>11.7</td>
			<td>31283</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X4</td>
			<td>150</td>
			<td>11.7</td>
			<td>28203</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X4</td>
			<td>150</td>
			<td>11.7</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X5</td>
			<td>150</td>
			<td>11.7</td>
			<td>29183</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X5</td>
			<td>150</td>
			<td>11.7</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X5</td>
			<td>150</td>
			<td>11.7</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X6</td>
			<td>150</td>
			<td>11.7</td>
			<td>30303</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X6</td>
			<td>150</td>
			<td>11.7</td>
			<td>30513</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X6</td>
			<td>150</td>
			<td>11.7</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 150X8</td>
			<td>150</td>
			<td>11.7</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X4</td>
			<td>160</td>
			<td>11.7</td>
			<td>29533</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X4</td>
			<td>160</td>
			<td>11.7</td>
			<td>29603</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X4</td>
			<td>160</td>
			<td>11.7</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X4</td>
			<td>160</td>
			<td>11.7</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X5</td>
			<td>160</td>
			<td>11.7</td>
			<td>30513</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X5</td>
			<td>160</td>
			<td>11.7</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X5</td>
			<td>160</td>
			<td>11.7</td>
			<td>29603</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X5</td>
			<td>160</td>
			<td>11.7</td>
			<td>29813</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X6</td>
			<td>160</td>
			<td>11.7</td>
			<td>28903</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X6</td>
			<td>160</td>
			<td>11.7</td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X6</td>
			<td>160</td>
			<td>11.7</td>
			<td>28413</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X6</td>
			<td>160</td>
			<td><nobr>5-11,7</nobr></td>
			<td>29113</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X8</td>
			<td>160</td>
			<td>11.7</td>
			<td>30163</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X8</td>
			<td>160</td>
			<td>11.7</td>
			<td>30233</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X8</td>
			<td>160</td>
			<td>11.7</td>
			<td>30443</td>
 		</tr>
		<tr>
			<td>Трубы электросварные квадратные 160X8</td>
			<td>160</td>
			<td>11.7</td>
			<td>30443</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X5</td>
			<td>160</td>
			<td>11.7</td>
			<td>32053</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X5</td>
			<td>160</td>
			<td>11.7</td>
			<td>31913</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X5</td>
			<td>160</td>
			<td>11.7</td>
			<td>31913</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X6</td>
			<td>160</td>
			<td>11.7</td>
			<td>32263</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X6</td>
			<td>160</td>
			<td>11.7</td>
			<td>32053</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X8</td>
			<td>160</td>
			<td>11.7</td>
			<td>32963</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X8</td>
			<td>160</td>
			<td>11.7</td>
			<td>32263</td>
 		</tr>
		<tr>
			<td>Трубы электросварные низколегированные квадратные 160X8</td>
			<td>160</td>
			<td>11.7</td>
			<td>32263</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}