{% extends 'base.html' %}
{% block content %}
<table class="table">
	<colgroup><col/><col/><col/><col/></colgroup>
	<tbody>
		<tr>
		<tr>
			<th>Название</th>
			<th>Диаметр (мм.)</th>
			<th>Длина (м.)</th>
			<th>Стоимость (руб.)</th>
 		</tr>
 		</tr>
		<tr>
			<td>Уголок 35X4 равнополочный</td>
			<td>35</td>
			<td>6</td>
			<td>33 453</td>
 		</tr>
		<tr>
			<td>Уголок 40X4 равнополочный</td>
			<td>40</td>
			<td>6</td>
			<td>27 153</td>
 		</tr>
		<tr>
			<td>Уголок 45X4 равнополочный</td>
			<td>45</td>
			<td>11.7</td>
			<td>22 883</td>
 		</tr>
		<tr>
			<td>Уголок 45X4 равнополочный</td>
			<td>45</td>
			<td>6</td>
			<td>22 813</td>
 		</tr>
		<tr>
			<td>Уголок 45X5 равнополочный</td>
			<td>45</td>
			<td>11.7</td>
			<td>22 813</td>
 		</tr>
		<tr>
			<td>Уголок 50X4 равнополочный</td>
			<td>50</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 50X4 равнополочный</td>
			<td>50</td>
			<td>6</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 50X5 равнополочный</td>
			<td>50</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 50X5 равнополочный</td>
			<td>50</td>
			<td>6</td>
			<td>26 803</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 50X5 равнополочный</td>
			<td>50</td>
			<td>11.7</td>
			<td>26 803</td>
 		</tr>
		<tr>
			<td>Уголок 63X5 равнополочный</td>
			<td>63</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок 63X6 равнополочный</td>
			<td>63</td>
			<td>11.7</td>
			<td>24 773</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 63X5 равнополочный</td>
			<td>63</td>
			<td>11.7</td>
			<td>24 773</td>
 		</tr>
		<tr>
			<td>Уголок 70X5 равнополочный</td>
			<td>70</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 70X5 равнополочный</td>
			<td>70</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 70X6 равнополочный</td>
			<td>70</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 70X6 равнополочный</td>
			<td>70</td>
			<td>6</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 75X5 равнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок 75X6 равнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок 75X6 равнополочный</td>
			<td>75</td>
			<td>6</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок 75X7 равнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок 75X8 равнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 75X5 равнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 75X6 равнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 75X8 равнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>24 843</td>
 		</tr>
		<tr>
			<td>Уголок 80X7 равнополочный</td>
			<td>80</td>
			<td>11.7</td>
			<td>22 953</td>
 		</tr>
		<tr>
			<td>Уголок 80X7 равнополочный</td>
			<td>80</td>
			<td>11.7</td>
			<td>22 953</td>
 		</tr>
		<tr>
			<td>Уголок 80X8 равнополочный</td>
			<td>80</td>
			<td>11.7</td>
			<td>22 953</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 80X8 равнополочный</td>
			<td>80</td>
			<td>11.7</td>
			<td>22 953</td>
 		</tr>
		<tr>
			<td>Уголок 90X6 равнополочный</td>
			<td>90</td>
			<td>11.7</td>
			<td>21 553</td>
 		</tr>
		<tr>
			<td>Уголок 90X7 равнополочный</td>
			<td>90</td>
			<td>11.7</td>
			<td>21 553</td>
 		</tr>
		<tr>
			<td>Уголок 90X8 равнополочный</td>
			<td>90</td>
			<td>11.7</td>
			<td>21 553</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 90X6 равнополочный</td>
			<td>90</td>
			<td>11.7</td>
			<td>21 553</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 90X8 равнополочный</td>
			<td>90</td>
			<td>11.7</td>
			<td>21 553</td>
 		</tr>
		<tr>
			<td>Уголок 100X10 равнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок 100X10 равнополочный</td>
			<td>100</td>
			<td>6</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок 100X12 равнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок 100X7 равнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок 100X8 равнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 100X10 равнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 100X7 равнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 100X8 равнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>24 213</td>
 		</tr>
		<tr>
			<td>Уголок 110X8 равнополочный</td>
			<td>110</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X10 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X10 равнополочный</td>
			<td>125</td>
			<td>6</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X12 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X12 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X8 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X8 равнополочный</td>
			<td>125</td>
			<td>6</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X9 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X9 равнополочный</td>
			<td>125</td>
			<td>6</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 125X9 равнополочный</td>
			<td>125</td>
			<td>9</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 125X10 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 125X12 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 125X9 равнополочный</td>
			<td>125</td>
			<td>11.7</td>
			<td>24 913</td>
 		</tr>
		<tr>
			<td>Уголок 140X10 равнополочный</td>
			<td>140</td>
			<td>11.7</td>
			<td>31 353</td>
 		</tr>
		<tr>
			<td>Уголок 140X12 равнополочный</td>
			<td>140</td>
			<td>11.7</td>
			<td>31 353</td>
 		</tr>
		<tr>
			<td>Уголок 140X9 равнополочный</td>
			<td>140</td>
			<td>11.7</td>
			<td>31 353</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 140X9 равнополочный</td>
			<td>140</td>
			<td>11.7</td>
			<td>31 353</td>
 		</tr>
		<tr>
			<td>Уголок 160X10 равнополочный</td>
			<td>160</td>
			<td>11.7</td>
			<td>29 953</td>
 		</tr>
		<tr>
			<td>Уголок 160X12 равнополочный</td>
			<td>160</td>
			<td>11.7</td>
			<td>29 953</td>
 		</tr>
		<tr>
			<td>Уголок 160X16 равнополочный</td>
			<td>160</td>
			<td>11.7</td>
			<td>29 953</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 160X10 равнополочный</td>
			<td>160</td>
			<td>11.7</td>
			<td>29 953</td>
 		</tr>
		<tr>
			<td>Уголок 180X12 равнополочный</td>
			<td>180</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 180X11 равнополочный</td>
			<td>180</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок 200X12 равнополочный</td>
			<td>200</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок 200X14 равнополочный</td>
			<td>200</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок 200X16 равнополочный</td>
			<td>200</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок 200X20 равнополочный</td>
			<td>200</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 200X12 равнополочный</td>
			<td>200</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок низколегированный 200X14 равнополочный</td>
			<td>200</td>
			<td>11.7</td>
			<td>30 653</td>
 		</tr>
		<tr>
			<td>Уголок 50X5 равнополочный низколегированныйОВАННЫЙ</td>
			<td>50</td>
			<td>11.7</td>
			<td>26 803</td>
 		</tr>
		<tr>
			<td>Уголок 63X5 равнополочный низколегированныйОВАННЫЙ</td>
			<td>63</td>
			<td>11.7</td>
			<td>27 153</td>
 		</tr>
		<tr>
			<td>Уголок 75X5 равнополочный низколегированныйОВАННЫЙ</td>
			<td>75</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 75X6 равнополочный низколегированныйОВАННЫЙ</td>
			<td>75</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 75X8 равнополочный низколегированныйОВАННЫЙ</td>
			<td>75</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 80X8 равнополочный низколегированныйОВАННЫЙ</td>
			<td>80</td>
			<td>11.7</td>
			<td>26 103</td>
 		</tr>
		<tr>
			<td>Уголок 90X6 равнополочный низколегированныйОВАННЫЙ</td>
			<td>90</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 90X8 равнополочный низколегированныйОВАННЫЙ</td>
			<td>90</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 100X10 равнополочный низколегированныйОВАННЫЙ</td>
			<td>100</td>
			<td>11.7</td>
			<td>26 453</td>
 		</tr>
		<tr>
			<td>Уголок 100X10 равнополочный низколегированныйОВАННЫЙ</td>
			<td>100</td>
			<td>6</td>
			<td>26 453</td>
 		</tr>
		<tr>
			<td>Уголок 100X7 равнополочный низколегированныйОВАННЫЙ</td>
			<td>100</td>
			<td>11.7</td>
			<td>26 383</td>
 		</tr>
		<tr>
			<td>Уголок 100X7 равнополочный низколегированныйОВАННЫЙ</td>
			<td>100</td>
			<td>6</td>
			<td>26 383</td>
 		</tr>
		<tr>
			<td>Уголок 100X8 равнополочный низколегированныйОВАННЫЙ</td>
			<td>100</td>
			<td>11.7</td>
			<td>26 383</td>
 		</tr>
		<tr>
			<td>Уголок 100X8 равнополочный низколегированныйОВАННЫЙ</td>
			<td>100</td>
			<td>6</td>
			<td>26 383</td>
 		</tr>
		<tr>
			<td>Уголок 125X10 равнополочный низколегированныйОВАННЫЙ</td>
			<td>125</td>
			<td>11.7</td>
			<td>26 103</td>
 		</tr>
		<tr>
			<td>Уголок 125X10 равнополочный низколегированныйОВАННЫЙ</td>
			<td>125</td>
			<td>6</td>
			<td>26 103</td>
 		</tr>
		<tr>
			<td>Уголок 125X12 равнополочный низколегированныйОВАННЫЙ</td>
			<td>125</td>
			<td>11.7</td>
			<td>26 103</td>
 		</tr>
		<tr>
			<td>Уголок 125X9 равнополочный низколегированныйОВАННЫЙ</td>
			<td>125</td>
			<td>11.7</td>
			<td>26 103</td>
 		</tr>
		<tr>
			<td>Уголок 125X9 равнополочный низколегированныйОВАННЫЙ</td>
			<td>125</td>
			<td>6</td>
			<td>26 103</td>
 		</tr>
		<tr>
			<td>Уголок 140X9 равнополочный низколегированныйОВАННЫЙ</td>
			<td>140</td>
			<td>11.7</td>
			<td>32 403</td>
 		</tr>
		<tr>
			<td>Уголок 140X9 равнополочный низколегированныйОВАННЫЙ</td>
			<td>140</td>
			<td>9</td>
			<td>32 403</td>
 		</tr>
		<tr>
			<td>Уголок 160X10 равнополочный низколегированныйОВАННЫЙ</td>
			<td>160</td>
			<td>11.7</td>
			<td>32 403</td>
 		</tr>
		<tr>
			<td>Уголок 180X11 равнополочный низколегированныйОВАННЫЙ</td>
			<td>180</td>
			<td>11.7</td>
			<td>32 753</td>
 		</tr>
		<tr>
			<td>Уголок 180X11 равнополочный низколегированныйОВАННЫЙ</td>
			<td>180</td>
			<td>9</td>
			<td>32 753</td>
 		</tr>
		<tr>
			<td>Уголок 180X12 равнополочный низколегированныйОВАННЫЙ</td>
			<td>180</td>
			<td>11.7</td>
			<td>32 753</td>
 		</tr>
		<tr>
			<td>Уголок 200X12 равнополочный низколегированныйОВАННЫЙ</td>
			<td>200</td>
			<td>11.7</td>
			<td>32 753</td>
 		</tr>
		<tr>
			<td>Уголок 200X14 равнополочный низколегированныйОВАННЫЙ</td>
			<td>200</td>
			<td>11.7</td>
			<td>32 753</td>
 		</tr>в
		<tr>
			<td>Уголок 63X40X5 неравнополочный</td>
			<td>63</td>
			<td>11.7</td>
			<td>27 153</td>
 		</tr>
		<tr>
			<td>Уголок 63X40X6 неравнополочный</td>
			<td>63</td>
			<td>11.7</td>
			<td>26 803</td>
 		</tr>
		<tr>
			<td>Уголок 75X50X5 неравнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 75X50X6 неравнополочный</td>
			<td>75</td>
			<td>11.7</td>
			<td>22 463</td>
 		</tr>
		<tr>
			<td>Уголок 100X63X6 неравнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 100X63X8 неравнополочный</td>
			<td>100</td>
			<td>11.7</td>
			<td>25 753</td>
 		</tr>
		<tr>
			<td>Уголок 140X90X8 неравнополочный</td>
			<td>140</td>
			<td>Н/Д</td>
			<td>36 953</td>
 		</tr>
		<tr>
			<td>Уголок 160X100X10 неравнополочный</td>
			<td>160</td>
			<td>11.7</td>
			<td>27 853</td>
 		</tr>
		<tr>
			<td>Уголок 160X100X10 неравнополочный</td>
			<td>160</td>
			<td>9</td>
			<td>27 853</td>
 		</tr>
		<tr>
			<td>Уголок 160X100X10 неравнополочный</td>
			<td>160</td>
			<td>Н/Д</td>
			<td>27 923</td>
 		</tr>
 	</tbody>
 </table>
{% endblock %}