{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{% static "default_product.png" %}" class="img-fluid">
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td>диаметр</td>
                <td>{{ object.arma_diameter }} мм.</td>
            </tr>
            <tr>
                <td>марка стали</td>
                <td>{{ object.arma_steel }}</td>
            </tr>
            <tr>
                <td>длина</td>
                <td>{{ object.arma_length }} м.</td>
            </tr>
            <tr>
                <td>метров в тонне</td>
                <td>{{ object.arma_diameter.meters_per_ton }}</td>
            </tr>
            <tr>
                <td>цена за метр</td>
                <td>{{ object.price_per_meter | floatformat:2 }} ₽</td>
            </tr>
            <tr>
                <td>цена за тонну</td>
                <td>{{ object.price | floatformat:0 }} ₽</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Ещё арматура {{ object.arma_diameter }} мм.</h3>
        <table class="table">
          <thead>
        <tr>
            <th scope="col"><img style="max-width: 100px" src="{% static 'sev.png' %}"></th>
            <th class="d-none d-md-table-cell" scope="col">Марка стали</th>
            <th class="d-none d-md-table-cell" scope="col">Длина (м.)</th>
            <th scope="col">Цена за тонну (руб.)</th>
            <th scope="col">Цена за метр (руб.)</th>
        </tr>
        </thead>
        {% for product in similar_products %}
            <tr>
                <td><a href="{% url 'ArmaDetail' product.arma_diameter.slug product.pk %}">Арматура {{ product.name }}</a></td>
                <td class="d-none d-md-table-cell">{{ product.arma_steel}}</td>
                <td class="d-none d-md-table-cell" >{{ product.arma_length }}</td>
                <td><nobr>{{ product.price | add:750 | floatformat:0  }}{% if product.name == 12 %} 🔥{% endif %}</nobr></td>
                <td><nobr>{{ product.price_per_meter | floatformat:1 }}</nobr></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
