{% extends 'base.html' %}
{% load static %}
{% block content %}

    <table class="table">
      <thead>
    <tr>
        <th scope="col"><img style="max-width: 100px" src="{% static 'sev.png' %}"></th>
        <th class="d-none d-md-table-cell" scope="col">Марка стали</th>
        <th scope="col">Длина (м.)</th>
        <th scope="col">Цена за тонну (руб.)</th>
        <th class="d-none d-md-table-cell" scope="col">Цена за метр (руб.)</th>
    </tr>
    </thead>
    {% for product in object.products.all %}
        <tr>
            <td><a href="{% url 'ArmaDetail' object.slug product.pk %}">Арматура {{ product.arma_diameter }} мм. {{ product.arma_steel }}</a></td>
            <td class="d-none d-md-table-cell">{{ product.arma_steel }}</td>
            <td>{% if product.arma_length.name == 10 %}6.00 - 12.00{% else %}{{ product.arma_length }}{% endif %}</td>
            <td>{{ product.price | add:750 | floatformat:0 }}{% if product.arma_length.name == 10 %}🔥{% endif %}</td>
            <td class="d-none d-md-table-cell">{{ product.price_per_meter | floatformat:1 }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="text-right"><a href="{% url 'ProductList' %}">смотреть все размеры >></a></div>

{% endblock %}
