{% extends 'base.html' %}
{% load static %}
{% block content %}

    <table class="table">
      <thead>
    <tr>
        <th scope="col"><img style="max-width: 100px" src="{% static 'sev.png' %}"></th>
        <th class="d-none d-md-table-cell" scope="col">Марка стали</th>
        <th class="d-none d-md-table-cell" scope="col">Длина (м.)</th>
        <th scope="col">Цена за тонну (руб.)</th>
        <th scope="col">Цена за метр (руб.)</th>
    </tr>
    </thead>
    {% for diameter in object_list %}
        <tr>
            <td><a href="{% url 'ProductDetail' diameter.slug %}"> Арматура {{ diameter.name }} мм. рифленая</a></td>
            <td class="d-none d-md-table-cell">{{ diameter.products.first.arma_steel}}</td>
            <td class="d-none d-md-table-cell" >{{ diameter.products.first.arma_length }}</td>
            <td><nobr><small>от</small> {{ diameter.products.first.price | add:750 | floatformat:0  }}{% if diameter.name == 12 %} 🔥{% endif %}</nobr></td>
            <td><nobr><small>от</small> {{ diameter.lol | floatformat:1 }}</nobr></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
