</div>
<div class="container-fluid px-0 py-1 mb-3 mycolor2">
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'ProductList' %}">Главная <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Contacts' %}">Контакты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Delivery' %}">Доставка</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'Order' %}">Как купить</a>
                </li>

            </ul>
          </div>
        </nav>

    </div>
</div>
<div class="container">