html{
    font-family: 'Ubuntu', sans-serif !important;
}
body{
    font-family: 'Ubuntu', sans-serif !important;
}
.logo, .contacts{
    font-size: 2rem;
}
.mycolor1{
    background-color: #04609F;
}
.mycolor2{
    background: #009EDB;
}
.blockquote{
    font-size: 1rem;
}
.mycolor1 a, .mycolor2 a, .mycolor1, .mycolor2{
    color: white !important;
}
.mycolor1 a:hover, .mycolor2 a:hover{
    color: #44b68a !important;
}
a{
    color: #04609F;
    font-weight: bold;
}
.h1, .h2{
    font-size: 2.5rem;
    font-weight: bold !important;
    color: #369edb !important;
}
.footer{
    /*background: #0C4B33;*/
}
.text-white{
    color: white !important;
}
.sidebarmenu{
    list-style-type: none;
    padding-left: 0;
}
.sidebarmenu li{
    padding: .35rem 0 .35rem .35rem;
    border-bottom: 1px solid #dee2e6;
}
.sidebarmenu li a{
    margin-left: 10px;
}
/* numbers*/
.number{
    line-height: 5rem;
    text-align: center;
    font-size: 5rem;
    color: #04609F;
}
.email{
    font-size: 1.25rem;
}