{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core.css' %}">
    <title>{{ title }}</title>
    <meta name="description" content="{% if title %}{{ title }}{% else %}Металлобаза {{ COMPANY_NAME }} — Продажа арматуры в СПб {% endif %}">
    {% include 'blocks/metrics/yandex-metrika.html' %}
    {% include 'blocks/metrics/yandex-webmaster.html' %}
  </head>
  <body>
  <div class="container-fluid mycolor1 py-5">
        <div class="container">
            <div class="row  d-flex justify-content-between">
                <div class="col-md-4">
                    <div class="logo">
                        <nobr><a style="text-decoration: none" href="{% url 'ProductList' %}"><img style="width: 60px;" src="{% static 'ms_logo.png' %}">{{ COMPANY_NAME }}</a></nobr>
                        <br><div class="mb-1 text-center" style="font-size: .75rem">{{ ADDRESS_SHORT }}<br>{{ EMAIL | safe}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contacts text-center">
                        {{ PHONE | safe}}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                          📞 Обратный звонок
                        </button>
                    </div>
                </div>
            </div>
      </div>
  </div>

    <div class="container">
        {% include 'blocks/menu.html' %}
            <div class="row">
            <div class="col-md-3">
                <h2 class="h3">Каталог металла</h2>
                <ul class="sidebarmenu">
                    <li><img src="{% static 'menu_categorys/armatura.jpg' %}"><a href="{% url 'ProductList' %}">Арматура</a></li>
                    <li><img src="{% static 'menu_categorys/shestigrannik.jpg' %}"><a href="{% url 'shestigrannik' %}">Шестигранник</a></li>
                    <li><img src="{% static 'menu_categorys/truba.jpg' %}"><a href="{% url 'truba' %}">Труба</a></li>
                    <li><img src="{% static 'menu_categorys/balka.jpg' %}"><a href="{% url 'balka' %}">Балка</a></li>
                    <li><img src="{% static 'menu_categorys/svarnaya-setka.jpg' %}"><a href="{% url 'svarnaya-setka' %}">Сварная сетка</a></li>
                    <li><img src="{% static 'menu_categorys/kvadrat.jpg' %}"><a href="{% url 'kvadrat' %}">Квадрат</a></li>
                    <li><img src="{% static 'menu_categorys/krug.jpg' %}"><a href="{% url 'krug' %}">Круг</a></li>
                    <li><img src="{% static 'menu_categorys/list.jpg' %}"><a href="{% url 'list' %}">Лист</a></li>
                    <li><img src="{% static 'menu_categorys/polosa.jpg' %}"><a href="{% url 'polosa' %}">Полоса</a></li>
                    <li><img src="{% static 'menu_categorys/ugol.jpg' %}"><a href="{% url 'ugol' %}">Угол</a></li>
                    <li><img src="{% static 'menu_categorys/shveller.jpg' %}"><a href="{% url 'shveller' %}">Швеллер</a></li>
                </ul>
            </div>
                <div class="col-md-9">
                <h1 class="h1">{{ title }}</h1>
                {% block content %}
                {% endblock %}
                </div>
            </div>
    </div>
 <div class="container-fluid px-0 py-4 mycolor2">
     <div class="container">
         <div class="row align-middle">
             <div class="col-md-8 align-self-center">
                 <div class="text-white blockquote">
                     <p>Уважаемые коллеги, партнеры, друзья!</p>
                     <p>Что сегодня самое важное в бизнесе? На мой взгляд - это уверенность, надежность и безопасность. Компания Металл Сервис СПб подтверждает вышесказанное своей безупречной историей работы с 2009 года. И это не просто слова, каждый из Вас может убедиться сам, путем проверки компании в открытых информационных источниках. Мы являемся дилерами Российского завода Северсталь. Удобное расположение двух складов и наличие собственного транспорта позволяют оперативно осуществлять поставку материалов от хлыста и до состава!</p>
                     <p>Будем рады видеть Вас среди наших партнеров.</p>
                 </div>
             </div>
             <div class="col-md-4">
                 <img class="img-fluid rounded" src="{% static '01.jpg' %}">
             </div>
         </div>
     </div>
 </div>
<div class="container-fluid px-0 footer mycolor1 py-5">
    <div class="container text-white">
        <ul>
            <li>{{ COMPANY_NAME }}</li>
            <li>{{ PHONE | safe}}</li>
            <li>{{ EMAIL | safe}}</li>
            <li>{{ ADDRESS_FULL }}</li>
        </ul>
    </div>
</div>
{% include 'blocks/modal.html' %}
    <!-- RedConnect -->
    <script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async"
    src="https://web.redhelper.ru/service/main.js?c=gogolevantoni"></script>
    <div style="display: none"><a class="rc-copyright"
    href="http://redconnect.ru">Сервис обратного звонка RedConnect</a></div>
    <!--/RedConngit statusect -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

